__pycache__/*
/*/__pycache__/*

*.data
*.tree
*.metadata
*.txt
*.sh
*.tar.gz
*.report
*.exe
*.byte
*.temp
*.log
*.window
*.checkpoint
*.pool
*.png
*.out
*.errors
*.ct
*.csv
*.onseq

appdata/*
/dataset/*
/results/*
/hpc scripts/*
/hpc outputs/*
/js/*
.vscode/*
/pfms/*
/memechip/*
/2bits/*
/hmchipdata/Human_hg18_peakcod/*
/hmchipdata/HumanRank/*
/akagi/*
app.build/
app.dist/
mongo/
data/
cplus/build/*

*secret*
*test*
mprofile*
massif*

akagi_1.fasta
akagi_2.fasta
put.here
dumped.motifs
quickreport
totalchain
constants.py
akagi.pwd
Dockerfile