__pycache__/*
/*/__pycache__/*
*.data
*.tree
*.metadata
/dataset/*
*.txt
/results/*
*.sh
*.tar.gz
*.exe
/hpc scripts/*
/hpc outputs/*
/js/*
*.byte
.vscode/*
/2bits/*
/hmchipdata/Human_hg18_peakcod/*
/hmchipdata/HumanRank/*
*secret*
test.py
test_c.py
akagi_1.fasta
akagi_2.fasta
*.temp
*.log
/pfms/*
*.window
test_argument.arg
*.checkpoint
/memechip/*
*.pool
put.here
app.build/
app.dist/
mongo/
data/
*.report
quickreport
totalchain
/akagi/*
*.png
mprofile*
*.out
constants.py