__pycache__/*
*.data
*.tree
*.metadata
/dataset/*
*.txt
/results/*
*.sh
*.tar.gz
*.exe
/hpc scripts/*
/hpc outputs/*
/js/*
*.byte
.vscode/*
/hmchipdata/2bits/*
/hmchipdata/Human_hg18_peakcod/*
/hmchipdata/HumanRank/*
